 h1 {
    text-align: center;
    color:white;
    font-style: 16px;
    background-color: gray;
}

.texto {
     color: red;
}

.italico{
    font-style: italic;
}

span {
    color: blue;
    font-weight: bold;
}